@using BOL;
@{
    ViewData["Title"] = "Subcategory Page";
}
<style>
    .myclass {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    img {
        width: 300px;
        height: 300px;
    }
</style>


<div>
    <h1><b><u>Gold Rings</u></b></h1>
    <div class="myclass"> <img src="/images/Ring.jpg">
        <img src="/images/Ring1.jpg">
        <img src="/images/Ring2.jpg">
        <img src="/images/Ring3.jpg">
        <img src="/images/Ring4.jpg">
        <img src="/images/Ring5.jpg">
    </div>


</div>